@import 'mixins';
@import 'variables';


body {
	margin: 0;
	padding: 0;
	background-color: $bg-color;
	color: $main-color;
}

h2 {
	color: #ccc;
	font-family: Arial;
	font-style: italic;
	transition: 1s linear;
	
	color: green;
}

h4 {
	transition: 1s linear;
	color: $main-color;
	text-shadow: 3px 2px 5px #000; 
	
}

figure {
	float: left;
	img {
		max-width: 300px;
		border-radius: 5px;
	}
}



