@import 'mixins';
@import 'variables';
@import 'reset';
* {
	outline: 1px solid red;
} 

body {
	background-color: $bg-color;
	color: $main-color;
	line-height: 1;
}

.container {
	max-width: 1140px;
	width: 1140px;
	margin: 0 auto;
	position: relative;
}

/* HEADER */


header {
	height: 244px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $links-color;
}

.links-style {
	color: $links-color;
	text-decoration: none;
}

.nav-bar {
	height: 40px;
	border-bottom: 1px solid $border-color;
	font: bold 11px/40px 'Lato', serif;

	a {
		@extend .links-style;
	}
}

.nav-bar-li-style {
	margin-right: 40px;
	display: inline-block;
}

.nav-bar-arrow-style {
	display: inline-block;
	transform: rotate(90deg);
	margin-left: 10px;
}

ul.left-nav-bar-navigation {
	position: absolute;
	left: 0;
	top: 0;


	li {
		@extend .nav-bar-li-style;

		ul {
			@extend .nav-bar-arrow-style;
		}
	}
}

ul.right-nav-bar-navigation {
	position: absolute;
	right: 0;
	top: 0;

	li {
		@extend .nav-bar-li-style;
		padding-right: 20px;

		ul {
			@extend .nav-bar-arrow-style;
		}

		&:hover {
			cursor: pointer;
		}

		&:first-child {
			border-right: 1px solid $border-color;
			margin-right: 20px;
		}
	}
}

.main-nav {
	height: 100px;
	border-bottom: 1px solid $border-color;
}

.logo {
	float: left;
	width: 280px;
	a {
		outline: none;
		display: block;
		padding-top: (100px / 2) - (39px / 2);
	}
}

ul.header-menu {
	float: left;

	li {
		display: inline-block;
		font: bold 12px/100px 'Lato', serif;
		margin-right: 40px;

	

		&:last-child {
			margin-right: 0;
		}

		a {
			@extend .links-style;
			position: relative;
			border-width: 0;
			transition: color .2s linear;

			&:hover {
				color: #000000;
			}

			&:after {
				content: "";
    			display: table;
    			clear: both;
    			position: absolute;
    			top: 20px;
    			border-bottom: 2px solid #1579d5;
    			width: 0;
				transition: width .2s linear;
			}

			&:hover:after {
    			width: 100%;
			}
		}
	}
}

.hot-links {
	color: #fc411d !important;
}

.bag-and-search {
	float: left;
	margin-left: 115px;
	font: bold 12px/100px 'Lato', serif;
}

.your-bag {
	float: left;

	& > span {
		margin-right: 15px;
	}
}

.you-bag-circle {
	width: 45px;
	height: 45px;
	border: 2px solid #1f86da;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	top: 20.5px;
	transition: background .2s linear;

	&:hover {
		cursor: pointer;
		background: #eeeeee;
	}

	span {
		position: absolute;
		text-align: center;
		width: 100%;
		line-height: 45px;
		color: #000000;
	}
}

.main-search {
	background: url('/img/search-ico.png') no-repeat center center;
	float: left;
	width: 14px;
	height: 100px;
	padding-left: 40px;

	&:hover {
		cursor: pointer;
	}

	input {
		display: none;
	}

	&:hover input {
		display: block;
	}
}





